<meta charset="UTF-8">
<title>
    Node JS is FUN 🤡
</title>
<link 
    rel="icon"
    href="https://cdn.iconscout.com/icon/free/png-256/javascript-2752148-2284965.png"
>
<link 
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css"
>
<style>
    body {
        padding-top: 50px;
    }
</style>